<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <style type="text/css">
        body {

          background-image: url('static/me.jpeg'); 
          background-size: cover;

        }
    </style>

<center>
</head>
<body>
    <h1>wanna creat account put your data here!</h1>
    <form action="/signup" method="POST">
    <input type="text" name="email" placeholder="email">
    <input name="password" type="password" placeholder="password">
    <input type="submit" value="Submit">
    <h1>have an account press here!</h1>
</form>
   <button> <a href="/signin"> i have an account!</a></button>
</center>
</body>
</html>